.container {
  min-height: 50vmin;
  height: 55vmin;
  margin-right: 2vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  position: relative;
  width: 50vmin;
  height: 40vh;
  transform-origin: center;
  transform-style: preserve-3d;
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: perspective(2500px) rotateY(0deg);
  }

  100% {
    transform: perspective(2500px) rotateY(360deg);
  }
}

.spinner .first {
  position: absolute;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(1 * 120deg)) translateZ(30vmin);
}

.spinner .second {
  position: absolute;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(2 * 120deg)) translateZ(30vmin);
}

.spinner .third {
  position: absolute;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(3 * 120deg)) translateZ(30vmin);
}

.spinner:hover {
  animation-play-state: paused;
}
