.banner {
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./styling/job-details-bg.jpg");

  background-position: center center;
  background-size: contain;
  width: auto;
  height: 60vh;
  background-size: 100% auto;
}

.bannerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bannerText h1,
.bannerText p {
  text-align: center;
  color: white;
}

.bannerText > button {
  text-align: center;
  border-radius: 100px;
  margin-top: 20px;
  background-color: var(--medium-yellow);
  width: calc(70px + 5vmin);
  height: calc(15px + 2vmin);
  font-weight: 600;
  font-size: calc(12px + 0.5vmin);
  transition: all 0.5s ease-in-out;
}

.bannerText > button:hover {
  color: white;
  background-color: var(--medium-black);
  cursor: pointer;
}

.jobDesc {
  display: flex;
  background-color: var(--medium-black);
  width: auto;
  min-height: calc(100px + 2vmin);
  color: white;
  padding: calc(30px + 0.5vmin);
}

.info {
  padding-right: calc(20px + 0.5vmin);
  flex: 6;
}

.contact {
  border-left: 2px solid white;
  padding: 0 30px 0;
  flex: 1;
  text-align: center;
}

.contact > ul {
  list-style-type: none;
  text-align: center;
}

@media only screen and (max-width: 426px) {
  .jobDesc {
    flex-direction: column-reverse;
  }

  .contact {
    border: 2px solid white;
    padding: 25px 0 25px;
  }

  .info {
    padding-top: 25px;
  }
}
