.jobsContainer {
  padding-top: 12.5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  gap: 100px;
  padding-bottom: 20px;
}

.jobsContainer::-webkit-scrollbar {
  height: 10px;
}

.jobsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.jobsContainer::-webkit-scrollbar-thumb {
  background: var(--medium-black);
  border-radius: 10px;
}

/* Handle on hover */
.jobsContainer::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.jobsContainer::-webkit-scrollbar-button:start:decrement {
  width: 35%;
}

.jobsContainer::-webkit-scrollbar-button:end:increment {
  width: 35%;
  display: block;
  background: transparent;
}

@media screen and (max-width: 426px) {
  .jobsContainer {
    padding-top: 20vh;
  }
}
