.widget{
    position: absolute;
    width: 300px;
    height: 380px;
    left: 110px;
    top: 385px;

    background: #fd0303;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}