.widget {
  width: calc(50px + 10vmin);
  height: calc(170px + 20vmin);
  background: var(--medium-yellow);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
  padding: 0 40px 0;
}

.widget .mainBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* align-items: center; */
}

.widget .mainBody ul {
  color: #000000;
  font-size: calc(8px + 0.7vmin);
}

.widget .mainBody h1 {
  margin: 10px 0 5px;
  font-size: calc(8px + 1vmin);

  color: #000000;
}

.jobInfo > ul {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

.jobInfo > ul > li {
  padding-bottom: 5px;
}

.widget .mainBody img {
  width: calc(90px + 9vmin);
  height: calc(50px + 4vmin);
  border-radius: 10%;
}

.widget .mainBody h2 {
  color: #000000;
  margin: 5px 0 5px;
  font-size: calc(8px + 0.8vmin);
}

.btn:link,
.btn:visited {
  display: inline-block;
  width: calc(60px + 4vmin);
  height: calc(8px + 2vmin);
  font-weight: bold;
  text-decoration: none;
  border-radius: calc(10px + 2vmin);
  background-color: #3a3637;
  border: 1px solid #3a3637;
  color: white;
  font-size: calc(7.5px + 0.5vmin);
  transition: background-color 0.2s, border 0.2s;
}

.btn:hover,
.btn:active {
  background-color: #b89c11;
  border: 1px solid #b89c11;
}

@media screen and (max-width: 426px) {
  .widget {
    height: calc(190px + 20vmin);
  }
}
