.result {
  display: flex;
  background-color: var(--medium-yellow);
  border-bottom: 6.4px solid var(--medium-black);
  width: 100%;
  min-height: auto;
}

.result img {
  width: calc(30px + 10vw);
  min-height: calc(45px + 10vh);
  max-height: 150px;
  object-fit: cover;
}

.resultDetails > ul {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.resultDetails > ul > li {
  font-size: 0.9rem;
}

.jobTitle {
  text-decoration: underline;
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

.jobTitle:hover {
  font-size: 1.1rem;
  transition: all 0.1s ease-in-out;
}
