.html {
  height: 100%;
}
.leftPanel .panelContents {
  background: #fa0202;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(30px + 25vmin);
  height: 100%;
  transition: all 0.5s ease;
  margin-bottom: 30px;
  text-align: center;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  text-align: center;
}

.leftPanel .panelContents img {
  margin: 10px 0 5px;
  width: calc(10px + 25vmin);
  height: calc(10px + 25vmin);
  border-radius: 50%;
}

.leftPanel .panelContents h3 {
  color: #000000;
  margin: 10px 0 5px;
  font-size: calc(10px + 2vmin);
}

.leftPanel .panelContents p {
  color: #000000;
  font-size: calc(7px + 2vmin);
}

.btn:link,
.btn:visited {
  width: calc(5px + 20vmin);
  height: calc(20px + 2vmin);
  margin: 10px 0 5px;

  font-weight: 700;
  font-size: calc(1px + 3vmin);
  text-decoration: none;
  border-radius: calc(1px + 40vmin);
  color: black;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
  background-color: #fcd615;
  border: 1px solid #fcd615;
  color: black;

  text-decoration: center;
}

.btn:hover,
.btn:active {
  background-color: #b89c11;
  border: 1px solid #b89c11;
}
