.reminder a {
  color: black;
  text-decoration: none;
}

@media (min-width: 0px) {
  .reminder {
    display: none;
  }
}

@media (min-width: 200px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .reminder {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: fit-content;
    width: calc(125px + 25vw);
    min-height: 80px;
    max-height: 36vmin;
    min-width: 150px;
    border-radius: 8px;
    border-style: solid;
    margin: 10px;
    padding: 2vmin;
    align-items: flex-start;
    /* word-wrap: break-word; */
    overflow: auto;
    padding: 5px;
  }

  .reminder h1 {
    font-size: 14px;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .reminder {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 30vmin;
    width: 30vw;
    min-height: 120px;
    min-width: fit-content;
    max-height: 165px;
    border-radius: 8px;
    border-style: solid;
    margin: 10px;
    padding: 2vmin;
    align-items: flex-start;
    word-wrap: break-word;
    padding: 5px;
    overflow: auto;
  }

  .reminder h1 {
    font-size: 14px;
  }
}

@media (min-width: 961px) {
  .reminder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(38px + 15vh);
    width: calc(38px + 25vw);
    max-width: 40vmin;
    max-height: 30vmin;
    min-height: 150px;
    min-width: fit-content;
    border-radius: 8px;
    border-style: solid;
    margin: 10px;
    padding-top: 1.2vmin;
    padding-left: 1.2vmin;
    padding-right: 1.2vmin;
    align-items: flex-start;
    word-wrap: break-word;
    overflow: auto;
  }

  .reminder h1 {
    font-size: 16px;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .reminder {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(38px + 15vh);
    width: calc(38px + 25vw);
    max-width: 40vmin;
    max-height: 30vmin;
    min-height: 150px;
    min-width: fit-content;
    border-radius: 8px;
    border-style: solid;
    margin: 10px;
    padding-top: 1.2vmin;
    padding-left: 1.2vmin;
    padding-right: 1.2vmin;
    align-items: flex-start;
    word-wrap: break-word;
    overflow: auto;
  }

  .reminder h1 {
    font-size: 16px;
  }
}

@media screen and (min-width: 2000px) {
  .reminder h1 {
    font-size: 18px;
  }
}
