.reminder {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: space-evenly;
  height: calc(38px + 20vh);
  width: calc(38px + 20vw);
  max-width: 20vw;
  max-height: 18vh;
  /* min-height: 25vh; */
  border-radius: 8px;
  border-style: solid;
  margin: 10px;
  background-color: ivory;
}

.reminder ul {
  list-style: none;
}
