.container {
  background-color: var(--medium-black);
  width: auto;
  min-height: 50vmin;
}

.fieldContainer {
  padding-top: 2vmin;
  border-radius: 2vmin;
  background-color: var(--medium-black);
  text-align: center;
}

.field {
  background-color: white;
  padding-left: 1vmin;
  min-width: 92.5%;
  min-height: 4vmin;
  border: none;
  outline: none;
  border-radius: 1vmin;
  border-width: 0px;
  resize: none;
  font-size: calc(6px + 2vmin);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif, sans-serif;
}

.field::placeholder {
  font-size: calc(12px + 1vmin);
}

.feed {
  background-color: var(--medium-black);
  color: white;
  display: flex;
  flex-direction: column;
  width: auto;
}
