.mySectionPage {
  min-height: 75vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./styling/my-bg.jpg");
  background-position: center center;
  background-size: cover;
  padding-bottom: 20px;
}

.myHeader {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.myHeader img {
  border-radius: 50%;
  width: calc(80px + 2vmin);
}

.myHeader h1 {
  color: white;
}

.mySectionPage h2 {
  text-align: center;
  font-weight: 600;
  color: white;
  animation-name: glow;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.myContainer {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: transparent;
  width: 70%;
  min-height: calc(100px + 10vh);
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.contentRedirect {
  text-decoration: none;
}

.contentCircle {
  flex: 0 1 calc(100px + 5vmin);
  max-width: calc(100px + 5vmin);
  height: calc(100px + 5vmin);
  margin: 2px;
  position: relative;
  text-align: center;
  z-index: 1;
  clip-path: circle(50% at 50% 50%);
  animation: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.contentCircle:hover {
  animation: hovereffect;
  animation-duration: 1s;
}

.contentImg {
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
}

.contentCircle::before,
.contentCircle::after,
.contentImg {
  top: -50%;
  width: 100%;
  height: 200%;
  display: block;
  position: absolute;
  clip-path: circle(50% at 50% 50%);
  z-index: -1;
}

.contentTitle {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  transition: opacity 350ms;
  text-shadow: 1px 1px 1px black;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--medium-yellow),
      0 0 40px var(--medium-yellow), 0 0 50px var(--medium-yellow),
      0 0 60px var(--medium-yellow), 0 0 70px var(--medium-yellow);
  }
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
  100% {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--medium-yellow),
      0 0 40px var(--medium-yellow), 0 0 50px var(--medium-yellow),
      0 0 60px var(--medium-yellow), 0 0 70px var(--medium-yellow);
  }
}

@keyframes hovereffect {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 426px) {
  .myContainer {
    width: 90%;
  }

  .myHeader {
    padding-bottom: 20px;
  }
}
