.home {
  display: flex;
  flex-direction: row;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}

.middle {
  flex: 3 100%;
  background-color: var(--medium-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.middleCoverPic {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./styling/feed-cover.jpg");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100px + 10vw);
  animation: blur 5s linear infinite;
}

.coverText {
  padding-left: 10%;
  color: white;
  font-size: 1rem;
}

@keyframes blur {
  0% {
    filter: blur(0px) grayscale(0%) hue-rotate(0deg);
  }
  50% {
    filter: blur(0.5px) grayscale(50%) hue-rotate(180deg);
  }
  100% {
    filter: blur(0px) grayscale(0%) hue-rotate(0deg);
  }
}

.right {
  flex: 0.75;
}

@media screen and (max-width: 321px) {
  .home {
    flex-direction: column;
  }

  .left {
    background-color: var(--medium-yellow);
    justify-content: center;
    align-items: center;
  }
}
